@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 210 29% 96%;
    --foreground: 225 20% 25%;
    --card: 0 0% 100%;
    --card-foreground: 225 20% 25%;
    --popover: 0 0% 100%;
    --popover-foreground: 225 20% 25%;
    --primary: 225 41% 27%;
    --primary-foreground: 0 0% 98%;
    --secondary: 210 29% 92%;
    --secondary-foreground: 225 41% 27%;
    --muted: 210 29% 92%;
    --muted-foreground: 225 20% 45%;
    --accent: 196 100% 44%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 29% 88%;
    --input: 210 29% 94%;
    --ring: 196 100% 44%;
    --chart-1: 225 41% 27%;
    --chart-2: 196 100% 44%;
    --chart-3: 210 29% 70%;
    --chart-4: 225 41% 50%;
    --chart-5: 196 100% 60%;
    --radius: 0.5rem;
    --sidebar-background: 225 41% 22%;
    --sidebar-foreground: 0 0% 85%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 225 41% 32%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 225 41% 28%;
    --sidebar-ring: 196 100% 44%;
  }
  .dark {
    --background: 225 20% 10%;
    --foreground: 0 0% 98%;
    --card: 225 20% 15%;
    --card-foreground: 0 0% 98%;
    --popover: 225 20% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 225 41% 27%;
    --secondary: 225 20% 20%;
    --secondary-foreground: 0 0% 98%;
    --muted: 225 20% 20%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 196 100% 44%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 225 20% 25%;
    --input: 225 20% 25%;
    --ring: 196 100% 44%;
    --chart-1: 0 0% 98%;
    --chart-2: 196 100% 44%;
    --chart-3: 0 0% 50%;
    --chart-4: 0 0% 80%;
    --chart-5: 196 100% 70%;
    --sidebar-background: 225 20% 12%;
    --sidebar-foreground: 0 0% 85%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 225 20% 22%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 225 20% 18%;
    --sidebar-ring: 196 100% 44%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
